body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #f6f6f6;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header i {
  font-size: 30px;
  position: absolute;
  top: 30px;
  left: 10px;
  color: black;
}

footer {
  background-color: #353535;
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div {
  width: 90%;
}

footer div h6 {
  font-family: 'Shrikhand', cursive;
  font-size: 15px;
}

footer ul {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
  width: 90%;
}

footer ul li {
  margin-bottom: 15px;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li a i {
  width: 25px;
}

img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

.carte {
  position: relative;
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  top: -50px;
}

.carte .titre-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 28px;
}

.carte .titre-menu h2 {
  font-family: 'Shrikhand', cursive;
}

.carte .titre-menu i {
  font-size: 25px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.carte .titre-menu i:hover {
  -webkit-text-stroke-width: 0px;
  -webkit-animation: color_fill 1.5s ease-out 1 forwards;
          animation: color_fill 1.5s ease-out 1 forwards;
}

@-webkit-keyframes color_fill {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    -webkit-text-stroke: unset;
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(0deg, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    -webkit-text-stroke: unset;
  }
}

@keyframes color_fill {
  0% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    -webkit-text-stroke: unset;
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
    background: linear-gradient(0deg, #FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    -webkit-text-stroke: unset;
  }
}

.carte h3 {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin: 35px 0px 10px 20px;
}

.carte article {
  border-radius: 20px;
  margin: 15px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carte article .plat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px 0 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carte article .plat h4 {
  margin: 10px 0 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.carte article .plat div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.carte article .plat div .description {
  width: 100%;
  margin: 0px 0 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carte article .plat div .prix {
  width: 30px;
  margin-left: 15px;
}

.carte article .checked {
  background-color: #99E2D0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0px;
  color: white;
  font-size: 30px;
  -webkit-transition: width 330ms;
  transition: width 330ms;
}

.carte article:hover .checked {
  width: 100px;
}

.carte article:hover .fa-check-circle {
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.carte .bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px;
}

.carte .bouton button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  color: white;
  -webkit-box-shadow: 0 2px 10px #868686;
          box-shadow: 0 2px 10px #868686;
  height: 50px;
  border-radius: 50px;
  width: 60%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.carte .bouton button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#FF79DA));
  background: linear-gradient(#FF79DA, #FF79DA);
  -webkit-box-shadow: 0 10px 15px #868686;
          box-shadow: 0 10px 15px #868686;
  cursor: pointer;
}

.plats {
  -webkit-animation: fadeIn 1.5s ease-in-out both;
          animation: fadeIn 1.5s ease-in-out both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 992px) {
  .contenu-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenu-menu .plats {
    width: 32%;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 15px;
    width: 100%;
  }
}
/*# sourceMappingURL=style_menus.css.map */