$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;



body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}




header{
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 10px #868686;
    position: relative;
    h1{
        font-family: 'Shrikhand', cursive;
        margin: 12px;
        font-size: 30px;
        font-weight: 400;
    }

}

footer{
    background-color: #353535;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        width:90%;
        h6{
            font-family: 'Shrikhand', cursive;
            font-size: 18px;
            font-weight: 400;
            margin: 22px 0;
        }
    }
    ul{
        list-style-type: none;
        margin : 0 0 30px 0 ;
        padding: 0;
        width : 90%;
        li{
            margin-bottom: 10px;
            a{
                i{
                    width:25px;
                }
                text-decoration: none;
                color: white;
            }
        }
    }
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height : 50px;
    i{
        margin-right: 15px;
    }
    input{
        font-size: 16px;
        font-weight: 600;
        border:none;
        outline: none;
        background-color: transparent;
        text-align: center;
        width:40%;
        height :30px;
        border-radius: 15px;
        &:focus{
            border: 2px solid $primaire;
        }
    }
    
    
}

.titre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:255px;
    padding:20px;
    background-color: #f6f6f6;
    h2{
       font-size: 25px;
       font-weight: 600;
       margin:0; 
       text-align: center;
    }
    h3{
        font-size: 18px;
        font-weight:300;
        margin:0;
        text-align:center;
    }
    button{
        font-size: 16px;
        font-weight: 500;
        background:linear-gradient($secondaire, $primaire);
        border:none;
        color: white;
        box-shadow: 0 2px 10px #868686;
        height: 50px;
        border-radius: 50px;
        width:65%;
        transition: 0.3s;
        margin-top: 25px;
        margin-bottom: 30px;
        &:hover{
            background:linear-gradient(lighten($secondaire,10%) , lighten($primaire,10%));
            
            box-shadow: 0 10px 15px #868686;
            cursor:pointer;
        }
    }
}

.fonctionnement{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 365px;
    margin: 35px 0;
    .choix{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height:100%;
    }
    h2{
        width:95%;
        margin: 0 0 15px 20px;
    }
    .unchoix{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 15px 10px;
    }
   .numero{
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 100%;
       width:25px;
       height: 25px;
       background-color: $primaire;
       color:white;
       margin-left: 10px;
       margin-right: -10px;
       z-index: 10;
       text-align: center;
   } 
   .texte{
       display: flex;
       align-items: center;
       background-color: #f6f6f6;
       width:85%;
       border-radius: 15px;
       font-size: 18px;
       box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
       transition:0.3s;
       h4{
        font-weight: 600;
        font-size: 17px;
        
       }
       i{
           width:30px;
           margin-left: 25px;
           margin-right: 10px;
           color: #7e7e7e;
           font-size: 18px;
       }
       &:hover{
        background-color: #f5edff;
        cursor: pointer;
        i{
            color:$primaire;
        }
       }
   }
   
}
.restaurants{
    background-color: #f6f6f6 ;
    padding-top: 20px;
    padding-bottom: 35px;
    h2{
        margin: 20px;
    }
    img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        width:100%;
        height: 180px;
    }
    .restaurant{
        position: relative;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
        text-decoration: none;
        color: black;
        .nouveau{
            background-color: $tertiaire;
            border-radius: 3px;
            color: #008766;
            position: absolute;
            right:20px;
            top:20px;
            padding:6px 10px;
            margin: 0;
            font-size: 15px;
            font-weight: 500;
        }
        
    }
    .nom{
        display: flex;
        flex-direction: column;
        margin: 10px;
        h4{
            font-size: 18px;
            margin: 5px 0 0 0;
        }
        h5{
            margin: 0 0 5px 0;
            font-size: 18px;
            font-weight: 200;
        }
    }
    .description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        width: 90%;
        .like{
            position:relative;
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            .masked{
                font-size: 25px;
                position:absolute;
                transition: 0.5s;
            }
            .mask{
                font-size: 25px;
                background: linear-gradient($primaire, $secondaire);
                background-clip:text;
                -webkit-background-clip:text;
                -webkit-text-fill-color: transparent;
                position: absolute;
                opacity: 0;
                transition: 0.5s;
                z-index:10;
            }
            &:hover .masked{
                opacity: 0;
            }
            &:hover .mask{
                opacity: 1;
            }
            
        }
    }
}

.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    flex-direction: column;
    z-index:1000;
    background-color: white;
    opacity:1;
    animation: background-fixed 2s 1;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner {
        margin: 100px auto;
        width: 200px;
        height: 200px;
        position: relative;
        text-align: center;
        animation: sk-rotate 2.0s infinite linear;
        .dot1,.dot2 {
            width: 60%;
            height: 60%;
            display: inline-block;
            position: absolute;
            top: 0;
            border-radius: 100%;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }
        .dot1{
            background-color:$primaire;
        }
        .dot2 {
            background-color: $tertiaire;
            top: auto;
            bottom: 0;
            animation-delay: -1.0s;
        }
    }
}

@keyframes background-fixed {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
  
@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(1.0);
    }
}


@media (min-width: 992px) {
    .fonctionnement{ 
        height : 100px;
        .choix{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .unchoix{
                width:33%;
            }
        }
    }
    .restaurants{
        .choixresto{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width:100%;
            .restaurant{
                width:45%;
            }
        }
        
    }
    footer{
        ul{
            display: flex;
            justify-content: space-around;
            margin:15px;
            width:100%;
        }
    }
}



