$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;



body{
    font-family: 'Roboto', sans-serif;
}


h1{
    font-family: 'Shrikhand', cursive;
}

header{
    display: flex;
    justify-content: center;   
}

footer{
    background-color: #353535;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        width:90%;
        h6{
            font-family: 'Shrikhand', cursive;
            font-size: 15px;
        }
    }
    ul{
        list-style-type: none;
        margin : 0 0 30px 0 ;
        padding: 0;
        width : 90%;
        li{
            margin-bottom: 15px;
            a{
                i{
                    width:25px;
                }
                text-decoration: none;
                color: white;
            }
        }
    }
}

.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    height : 50px;
    i{
        margin-right: 15px;
    }
    input{
        border:none;
        background-color: transparent;
        text-align: center;
        width: 25%;
    }
    
}